<h1 class="text-center">Dashboard</h1>
<section class="column align-center post-output">
    {{#each userPosts}}
        <div class="post">
            <a href="/updatePost/{{dataValues.id}}">
                <h1 class="text-center title">{{dataValues.title}}</h1>
            </a>
            <h3 class="text-center">{{dataValues.text}}</h3>
            <div class="row justify-between">
                <p>{{dataValues.createdAt}}</p>
                <form action="/deletePost/{{dataValues.id}}" method="POST">
                    <button class="delete-button">Delete</button>
                </form>
            </div>
        </div>
    {{/each}}
    <a href="/post" class="new-post-button">New Post</a>
</section>