<h1 class="text-center">The MotherMessageBoard</h1>

<section class="column align-center post-output">
    <div class="post">
        <h1 class="text-center title">{{post.dataValues.title}}</h1>
        <h3 class="text-center">{{post.dataValues.text}}</h3>
        <div class="row justify-between">
            <p>{{post.dataValues.createdAt}}</p>
            <p>By: {{user.dataValues.email}}</p>
        </div>

    </div>
    <div class="post">
        <p class="title text-center">Add Comments</p>
        {{#each errors}}
            <p class="error text-center">{{this}}</p>
        {{/each}}
        <form class="input-form" method="post">
            {{! <input
                class="comment"
                type="text"
                name="comment"
                placeholder="Comment"
            /> }}

            <textarea name="comment" cols="30" rows="10"></textarea>
            <button>Submit</button>
        </form>
    </div>

    {{#each comment}}
        <div class="post">
            <div>
                <h3 class="text-center">{{dataValues.text}}</h3>
                <div class="row justify-between">
                    <p>{{dataValues.createdAt}}</p>
                    <p>By: {{dataValues.user_id}}</p>
                </div>
            </div>
        </div>

    {{/each}}
</section>